.idea
.edts
*.iml
_build
/rel/
*.db
*~
.#*
\#*
.rebar
erl_crash.dump
keys_backup
lib/
bin/
.Python
include/
*.pyc
nosetests.xml
pip-selfcheck.json
config/*/sys.config
man
compile_commands.json
deps/*
rebar.lock
.DS_Store
.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump